@font-face {
    font-family: 'AxtmanalBold';
    src: url('/fonts/axtmanalbold-regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Niramit';
    src: url('/fonts/Niramit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Reforma1969Negra';
    src: url('/fonts/Reforma-1969-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Reforma1969Gris';
    src: url('/fonts/Reforma-1969-Gris.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 Optional Global Font Application
*/
html {
    scroll-behavior: smooth;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Niramit', sans-serif; /* Set a default font */
}
li,h1,h2,h3,h4,h5,h6,p{
    font-family: 'Reforma1969Gris', sans-serif;
    font-weight: normal;
    font-size: 12.75px;
    letter-spacing: 1px;
}
/*span{*/
/*    font-family: 'Reforma1969Gris', sans-serif;*/
/*}*/


.primary-button{
    border-radius: 0;
    height: 79px;
    width: 160px;
}

.banner-overlay{
        background-color: #000000;
        opacity: 0.4;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}


.hero-banner {
    position: relative;
    width: 100%;
    height: 85vh; /* Full viewport height */
    overflow: hidden;
    background-image: url('/image/img-64-2.jpg'); /* Fallback background color */
}

.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/img-64-2.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    transition: transform 8s ease;
    transform: scale(1.2); /* Initial zoom */
    z-index: -1;
}

.hero-banner:hover::before {
    transform: scale(1.5); /* Zoom in effect */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure overlay is above the image */
}

.hero-text {
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 2; /* Ensure text is above the overlay */
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5rem;
}
.rate-container {
    position: relative;
    /*margin-left: 10% !important;*/
    margin-top: -3% !important;
    z-index: 999 !important;
}

.title-font{
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 5px;
}
.p{
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;
    padding-bottom: 30px;
    margin-top: 20px;
    text-align: justify-all;
}
.slide-bottom{
    border-radius: 0;
}

.dateContainer,.feildContainer{
    display: flex;
}
/*.checkRateButton{*/
/*    width: 100% !important;*/
/*}*/

.border-button{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #d81b60;
    font-family: "Reforma 1969", "AXtManalBold Regular", Helvetica, Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK", "Hiragino Sans", sans-serif;
    font-size: 1rem;
    border: 0 #d81b60;
}

.primary-button1{
    flex: 1;
    padding: 10px;
    background-color: #d81b60;
    color: #fff;
    border: none;
    cursor: pointer;
}

